[submodule "WDLT.Clients.POE"]
	path = WDLT.Clients.POE
	url = https://github.com/waidelotte/WDLT.Clients.POE
[submodule "WDLT.Clients.Base"]
	path = WDLT.Clients.Base
	url = https://github.com/waidelotte/WDLT.Clients.Base
[submodule "WDLT.Utils"]
	path = WDLT.Utils
	url = https://github.com/waidelotte/WDLT.Utils
